In [15]:
# enter 10 Numbers and find the heighest and lowest number
# should not use list,set,tuple
# use 1oop Statesments
class Number:
    def values(self):
        h=0
        l=99999
        while True:
            try:
                n=int(input("Enter a how many Numbers : "))
                break
            except ValueError:
                print("Only Enter Integer Value ")
        for i in range(1,n+1):
            while True:
                try:
                    n1=int(input("Enter a Numbers : "))
                    break
                    
                except ValueError:
                    print("Enter Integer Value ")
            if n1>h:
                h=n1
            if n1<l:
                l=n1
                
        print("Heighst Number : ",h)
        print("Lowest Number : ",l)
        
n=Number()
n.values()

Enter a how many Numbers : 2.4
Only Enter Integer Value
Enter a how many Numbers : ten
Only Enter Integer Value
Enter a how many Numbers : 10
Enter a Numbers : 67
Enter a Numbers : 10
Enter a Numbers : 89
Enter a Numbers : 23
Enter a Numbers : 8.9
Enter Integer Value
Enter a Numbers : 12
Enter a Numbers : 90
Enter a Numbers : 19
Enter a Numbers : 9.3
Enter Integer Value
Enter a Numbers : 89
Enter a Numbers : 14
Enter a Numbers : 92
Heighst Number :  92
Lowest Number :  10

In [20]:
# display the names find how many are  there which  start with either e or k
names=['sushil','arjun','damon','klaus','stpen','elaja','bani','elena']
c=0
print(names)
for i in names:
    if i.startswith('e') or i.startswith('k'):
        c=c+1
        print(i)
    
print(c)

['sushil', 'arjun', 'damon', 'klaus', 'stpen', 'elaja', 'bani', 'elena']
klaus
elaja
elena
3

In [23]:
# data1=[12,55,78,199,201,........]
# Process data1 and find how many 3 digit prime numbers are there
data1=[12,55,78,199,201,307,101,56,281,823,12,90,569]
c=0
for i in data1:
    if 100<=i<=999:
        for j in range(2,i):
            if i%j==0:
                c=c+1
print(c)

2

In [43]:
# add data1 and data2  into result_data(only uniqu once)
#display the result_data all the elements for last to first
data1=[56,78,190,100,23,894,90,66]
data2=[440,22,55,190,23,66,19,43]
result_data=set(data1+data2)
print(result_data)
result_data1=list(result_data)
result_data1.reverse()
print(result_data1)

{66, 100, 440, 43, 78, 894, 19, 55, 22, 23, 56, 90, 190}
[190, 90, 56, 23, 22, 55, 19, 894, 78, 43, 440, 100, 66]

In [51]:
# Filter out the Number divisible by 7,form the follwing
# Only last 10 elements need to be only Processed
Data1=[78,90,12,90,67,100,178,70,25,35,92,14,89,49]
c=0
for i in Data1[-10:]:
    #print(i)
    if i%7==0:
        c=c+1
        print(i)
print(c)

70
35
14
49
4

In [56]:
# Multiply all the elements of data1 with the contents of numb as given store to the result in data2,display the same
given_data1=[10,189,90,88,1,45,12,35]
numb=4
data2=[]
for i in given_data:
    result_data=i*numb
    data2.append(result_data)
print(given_data1)
print(data2)

[10, 189, 90, 88, 1, 45, 12, 35]
[40, 756, 360, 352, 4, 180, 48, 140]